cabal/
gtk-3.0/
matplotlib/
gtk-2.0/
darktable/
python/pylint.d/
python/idlerc/
.ghcup/
gem/
npm/
jupyter/custom/
jupyter/migrated
ipython/profile_default/startup/README
ipython/profile_default/history.sqlite
pyenv/versions/*
pyenv/shims/*


*.netrwhist

zsh/.zcompcache/
zsh/.zsh_history
zsh/.zsh_sessions/

vim/viminfo*
vim/plugged/*
vim/undo/*
vim/swp/*
vim/autoload/plug.vim
vim/autoload/plug.vim.old

nvim/pack/*

