cabal/
gtk-3.0/
matplotlib/
spotifyd/
gtk-2.0/
darktable/
gcloud/
keras/
python/pylint.d/
python/idlerc/
.ghcup/
gem/
npm/
jupyter/custom/
jupyter/migrated
ipython/profile_default/startup/README
ipython/profile_default/history.sqlite
pyenv/versions/*
pyenv/shims/*
oni2/extensions/
oni2/workspace/
oni2/store/

zsh/.zcompcache/
zsh/.zsh_history
zsh/.zsh_sessions/

karabiner/automatic_backups

julia/logs/repl_history.jl
zsh/zsh-autosuggestions/
nvim/systags

ssh/config  
ssh/google_compute_known_hosts  
ssh/id_rsa  
ssh/id_rsa.pub  
ssh/known_hosts
*/id_rsa
id_rsa

jump/scores.json
oni2/store/global/store.json
