.git/
.DS_Store

cabal/
gtk-3.0/
matplotlib/
gtk-2.0/
darktable/
python/pylint.d/
python/idlerc/
.ghcup/
gem/
jupyter/custom/
jupyter/migrated
ipython/profile_default/startup/README
ipython/profile_default/history.sqlite

vim/.netrwhist

vim/plugged/*
vim/undo/*
vim/swp/*
vim/autoload/

