<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>21391E12-E648-462F-A5C4-735890B97E91</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48FA6FB7-F741-44C8-B842-81239CD04724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>383AB3A2-CBD6-447E-809A-F039F1E0F641</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48FA6FB7-F741-44C8-B842-81239CD04724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C5F0EE6-E98C-4C77-A056-DCC7687EC639</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48FA6FB7-F741-44C8-B842-81239CD04724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BFE259C-0D58-433D-91A5-2ABEB4EA4711</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48FA6FB7-F741-44C8-B842-81239CD04724</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Eveleth</string>
	<key>description</key>
	<string>Launch new note in nvim in Alacritty</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Scratch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4C5F0EE6-E98C-4C77-A056-DCC7687EC639</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set appName to "Alacritty"if application appName is not running then	do shell script "nohup /Applications/Alacritty.app/Contents/MacOS/alacritty -e /usr/local/bin/nvim &gt; /dev/null 2&gt;&amp;1 &amp;"else	tell application id (id of application appName) to activateend if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>48FA6FB7-F741-44C8-B842-81239CD04724</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scratch</string>
				<key>subtext</key>
				<string>open new document in vi</string>
				<key>text</key>
				<string>scratch</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7BFE259C-0D58-433D-91A5-2ABEB4EA4711</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>scra</string>
				<key>subtext</key>
				<string>open new document in nvim</string>
				<key>text</key>
				<string>scra</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21391E12-E648-462F-A5C4-735890B97E91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>new</string>
				<key>subtext</key>
				<string>new document in nvim</string>
				<key>text</key>
				<string>new</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>383AB3A2-CBD6-447E-809A-F039F1E0F641</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>21391E12-E648-462F-A5C4-735890B97E91</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>383AB3A2-CBD6-447E-809A-F039F1E0F641</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>48FA6FB7-F741-44C8-B842-81239CD04724</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>4C5F0EE6-E98C-4C77-A056-DCC7687EC639</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>7BFE259C-0D58-433D-91A5-2ABEB4EA4711</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
