<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jasoneveleth.global_shortcuts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0DC125E3-61F5-4519-A60D-C21E587A1E52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>228DC5F1-4DB9-4404-86A2-0F61565495D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FDF739D-9B40-4681-AAC9-D63F413577BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>72882932-A805-4A1C-B878-BA24A844C722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C70B7EB-B1E9-493E-A4E7-40A483166B11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C09E9FC2-68DA-43A4-838F-28318D33EFBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE91C668-762B-4D99-8387-D4FD4FC54FE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Eveleth</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Global shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set appName to "Alacritty"if application appName is not running then	do shell script "nohup /Applications/Alacritty.app/Contents/MacOS/alacritty -e /usr/local/bin/tmux new -A -s general &gt; /dev/null 2&gt;&amp;1 &amp;"else	tell application id (id of application appName) to activateend if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4066445F-D94D-4791-B2C4-32E375422B59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)do shell script "sh $HOME/.local/bin/tmuxalfred"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1742F647-8D83-4FFC-8B3E-1A9BFB896129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "cd; nohup /usr/local/bin/kitty -1 &gt; /dev/null 2&gt;&amp;1 &amp;"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4E79E03C-028D-45D6-AD91-544E9DED535E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "nohup /usr/local/bin/kitty /usr/local/bin/tmux new -A -D -s general &gt; /dev/null 2&gt;&amp;1 &amp;"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8A74A1C9-1E44-46E9-9FCC-B114756C0A96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/kitty.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8C70B7EB-B1E9-493E-A4E7-40A483166B11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7F06D968-A68C-481E-83C0-7B45F509D2D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Arc.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>228DC5F1-4DB9-4404-86A2-0F61565495D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>19</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0DC125E3-61F5-4519-A60D-C21E587A1E52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Obsidian.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>CE91C668-762B-4D99-8387-D4FD4FC54FE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C09E9FC2-68DA-43A4-838F-28318D33EFBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>passwords</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Passwords</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4FDF739D-9B40-4681-AAC9-D63F413577BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Settings" to activate

tell application "System Events" to tell application process "System Settings"
    set frontmost to true

    set VIEW to menu bar item "View" of menu bar 1
    click VIEW
    click menu item "Passwords" of menu 1 of VIEW
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72882932-A805-4A1C-B878-BA24A844C722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Launches Alacritty</string>
	<key>uidata</key>
	<dict>
		<key>0DC125E3-61F5-4519-A60D-C21E587A1E52</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>1742F647-8D83-4FFC-8B3E-1A9BFB896129</key>
		<dict>
			<key>note</key>
			<string>alacritty tmux launch -- better</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>228DC5F1-4DB9-4404-86A2-0F61565495D7</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>4066445F-D94D-4791-B2C4-32E375422B59</key>
		<dict>
			<key>note</key>
			<string>alacritty tmux launch -- old version</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>4E79E03C-028D-45D6-AD91-544E9DED535E</key>
		<dict>
			<key>note</key>
			<string>kitty</string>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4FDF739D-9B40-4681-AAC9-D63F413577BD</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>72882932-A805-4A1C-B878-BA24A844C722</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>7F06D968-A68C-481E-83C0-7B45F509D2D1</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8A74A1C9-1E44-46E9-9FCC-B114756C0A96</key>
		<dict>
			<key>note</key>
			<string>kitty + tmux</string>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>8C70B7EB-B1E9-493E-A4E7-40A483166B11</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>C09E9FC2-68DA-43A4-838F-28318D33EFBB</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>CE91C668-762B-4D99-8387-D4FD4FC54FE6</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
