<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jasoneveleth.global_shortcuts</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>4FDF739D-9B40-4681-AAC9-D63F413577BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7D71B8D-0F17-4581-B167-7547F84F496A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7D71B8D-0F17-4581-B167-7547F84F496A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DBF0403-F38D-483C-91FF-3E002E36F217</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jason Eveleth</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Global shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
set appName to "Alacritty"if application appName is not running then	do shell script "nohup /Applications/Alacritty.app/Contents/MacOS/alacritty -e /usr/local/bin/tmux new -A -s general &gt; /dev/null 2&gt;&amp;1 &amp;"else	tell application id (id of application appName) to activateend if
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4066445F-D94D-4791-B2C4-32E375422B59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)do shell script "sh $HOME/.local/bin/tmuxalfred"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1742F647-8D83-4FFC-8B3E-1A9BFB896129</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "cd; nohup /usr/local/bin/kitty -1 &gt; /dev/null 2&gt;&amp;1 &amp;"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4E79E03C-028D-45D6-AD91-544E9DED535E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
do shell script "nohup /usr/local/bin/kitty /usr/local/bin/tmux new -A -D -s general &gt; /dev/null 2&gt;&amp;1 &amp;"
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>8A74A1C9-1E44-46E9-9FCC-B114756C0A96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "System Settings" to activate

tell application "System Events" to tell application process "System Settings"
    set frontmost to true

    set VIEW to menu bar item "View" of menu bar 1
    click VIEW
    click menu item "Passwords" of menu 1 of VIEW
end tell</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72882932-A805-4A1C-B878-BA24A844C722</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>F1</string>
				<key>keycode</key>
				<integer>122</integer>
				<key>keymod</key>
				<integer>8519680</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>3DBF0403-F38D-483C-91FF-3E002E36F217</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/System Settings.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>C7D71B8D-0F17-4581-B167-7547F84F496A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>passwords</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Passwords</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4FDF739D-9B40-4681-AAC9-D63F413577BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Launches Alacritty</string>
	<key>uidata</key>
	<dict>
		<key>1742F647-8D83-4FFC-8B3E-1A9BFB896129</key>
		<dict>
			<key>note</key>
			<string>alacritty tmux launch -- better</string>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>3DBF0403-F38D-483C-91FF-3E002E36F217</key>
		<dict>
			<key>note</key>
			<string>Make sure you make a System Shortcut, for System Settings, which goes to "Passwords" to trigger on shift-F1</string>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>4066445F-D94D-4791-B2C4-32E375422B59</key>
		<dict>
			<key>note</key>
			<string>alacritty tmux launch -- old version</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>4E79E03C-028D-45D6-AD91-544E9DED535E</key>
		<dict>
			<key>note</key>
			<string>kitty</string>
			<key>xpos</key>
			<real>940</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4FDF739D-9B40-4681-AAC9-D63F413577BD</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>72882932-A805-4A1C-B878-BA24A844C722</key>
		<dict>
			<key>note</key>
			<string>launch passwords in settings</string>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8A74A1C9-1E44-46E9-9FCC-B114756C0A96</key>
		<dict>
			<key>note</key>
			<string>kitty + tmux</string>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>C7D71B8D-0F17-4581-B167-7547F84F496A</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
